/* .error {
    font-size: 1.25rem;
    color: #800020;
    font-weight: 600;
  }
  
  button {
    margin: 0.5rem;
  }

li {
    font-size: 1.2rem;
    list-style: none;
    width: 40%;
    margin: 1rem auto;
    text-align: left;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 300ms ease-in-out;
    box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
  }

li:hover {
  transform: translateY(-0.3rem);
  background-color: rgba(0, 0, 0, 0.3);
} */